    ul {
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        margin: 0;
        height: 100%;
    }
    
    .Home {
        background-image: url("frontImg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .nav li a {
        color: white;
    }
    
    .nav-brand {
        font-size: small;
    }
    
    .welcomeText {
        color: white;
        margin-left: -14rem;
    }
    
    .card button {
        width: 100%;
        border: none;
        padding: 12px;
        background-color: #800707;
        color: white;
        font-weight: bolder;
    }
    
    .navRow {
        padding: 2rem 0 0 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        width: 9rem;
    }
    
    .navLinks {
        margin-left: -17rem;
    }
    
    .img1 img {
        margin-left: -31rem;
        height: 980px;
        width: 32rem;
    }
    
    .img1 .imgText {
        position: relative;
        right: 26rem;
        bottom: 8rem;
        text-align: center;
    }
    
    .img2 img {
        height: 526px;
        width: 65rem;
        margin-left: -21rem;
    }
    
    .img2 .imgText {
        display: flex;
        margin-left: -28rem;
        gap: 23rem;
        position: relative;
        bottom: 9rem;
        left: 11rem;
    }
    
    .img3 img {
        height: 522px;
        width: 32rem;
        margin-left: 214px;
    }
    
    .img3 .imgText {
        position: relative;
        margin-left: -5rem;
        left: 25rem;
        text-align: center;
        bottom: 12rem;
    }
    
    .img4 img {
        height: 427px;
        width: 35rem;
        margin: -4rem 0 0 -21rem;
    }
    
    .img4 .imgText {
        position: relative;
        right: 10rem;
        bottom: 9rem;
        margin: 0 0 0 -5rem;
        text-align: center;
    }
    
    .img5 img {
        height: 428px;
        width: 62rem;
        margin: -4rem 0 0 0;
    }
    
    .img5 .imgText {
        position: relative;
        left: 32rem;
        bottom: 17rem;
    }
    
    .img5 .imgText h1 {
        color: black;
    }
    /* .imgText {
        position: relative;
        bottom: 7rem;
        left: 3rem;
        text-align: center;
    } */
    
    .imgText h1 {
        color: rgb(241, 239, 235);
        font-weight: bolder;
    }
    
    .imgText button {
        padding: 8px;
        width: 15rem;
        background-color: wheat;
        color: #720303;
        font-weight: bold;
        font-size: 1rem;
    }
    
    .card-deck {
        width: 95rem;
        margin-left: -14rem;
    }
    
    .card {
        height: 40rem;
    }
    
    img.card-img-top {
        height: 25rem;
    }
    
    .card-body {
        text-align: center;
    }
    
    .cardPrice {
        color: #720303;
        font-size: 2rem;
    }
    
    .card button {
        width: 100%;
    }
    /* fourth section */
    
    .fourthSection {
        margin-top: 5rem;
        background-color: #720303;
    }
    
    .fourthSectionImg img {
        width: 66rem;
    }
    
    .fourthSectionText {
        margin: 14rem 0 0 -37rem;
        text-align: center;
        padding: 0rem 19rem;
    }
    
    .fourtSectionTextChild {
        text-align: left;
    }
    
    p.sale {
        color: white;
        margin: 0px 0px -65px 0;
        font-size: 2rem;
    }
    
    p.FiftyPercent {
        font-size: 10rem;
        color: wheat;
    }
    
    span.fourthSectionTextToday {
        position: relative;
        left: 21rem;
        bottom: 9rem;
        font-size: 3rem;
        color: wheat;
    }
    
    p.fourthSectionLorem {
        margin: -5rem 0 40px 0;
        color: white;
        font-size: 20px;
    }
    
    button.fourthSectionTextBtn {
        padding: 14px;
        background-color: wheat;
        width: 16rem;
        font-weight: bold;
        color: #720303;
    }
    /* fourth section */
    
    .fifthSection {
        background-image: url("fifthSectionImg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 66%;
        margin-top: 3rem;
    }
    
    .fifthSectionText {
        padding-top: 15rem;
        text-align: center;
        margin: 0 10rem;
    }
    
    p.fifthSectionHeading {
        font-size: 2rem;
        font-weight: bolder;
        color: #edc595;
    }
    
    p.fifthSectionpara {
        color: white;
    }
    
    button.fifthSectionBtn {
        width: 14rem;
        border-radius: 15px;
        padding: 1rem;
        background-color: #720303;
        color: bisque;
        font-weight: bolder;
    }
    /* seventh section */
    
    .seventhSection {
        margin: 9rem 0 0 0px;
    }
    
    .seventhSection img {
        width: 100%;
    }
    
    footer {
        background-color: black;
        margin-top: 2rem;
        height: 45rem;
    }
    
    .upper ul {
        list-style: none;
        line-height: 2rem;
        padding: 3rem 0 0 0px;
        color: white;
        font-size: larger;
    }
    
    .upper ul li a {
        color: white;
        font-size: 15px;
    }
    
    li.footerHeading {
        font-size: 25px;
        font-weight: bolder;
    }